.container{
    
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}
.row{
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
}