  @import url("./color.css");
  @import url("./font.css");
  @import url("./grid.css");
  /*Global reset*/
*{
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
.d-flex{display: flex;}
.d-inline-block{display: inline-block;}
.d-block{display: block;}
.d-inline{display: inline;}
.justify-content-start{justify-content: flex-start;}
.justify-content-end{justify-content:flex-end;}
.justify-content-center{justify-content: center;}
.justify-content-between{justify-content: space-between;}
.align-items-center{align-items: center;}
.text-align{text-align: center;}
              /*HEADER*/
  .header-container{
    min-height: 90px;
    background-color: var(--color4);
  }
  .header-container ul{
    list-style: none;
    gap: 40px;
    
  }
  .header-container ul li a{
    text-decoration: none;
    color: var(--color3);
  }
    .small-logos{
      gap: 20px;
        height: 27px;
        padding-right: 90px;
    }
    .logo{
        padding-left: 70px;;
    }
       /*HERO-SECTION*/
       .hero-section{
        height: 660px;
        background-image: url("../img/section-background.png");
        width: 100%;
       }
       .col{
        background-color:var(--color1) ;
        height: 280px;
        width: 360px;
        flex-direction:column ;
        gap: 20px;
        margin-top: 200px;
        padding-top: 20px;
        padding-right: 100px;
       }
       .btn{
        background-color: var(--color2);
        color: var(--color4);
        height: 47px;
        width: 200px;
        border: solid 1px var(--color2);
       }
       h1{
        color: var(--color2);
       }
       .sec-2 .col-4 img{
        width: 100%;
        height: auto;
        border-radius: 10px;
       }
       .sec-2{
        margin-top:80px ;
       }
       .sec-2 h2{
        margin-bottom: 20px;
        font-size: 40px;
       }
       .sec-2 p{
        margin-bottom: 50px;
       }
       .sec-2 .col-4{text-align: center;
      padding: 0 16px;}
       .sec-2 h3{
        margin-top: 15px;
        font-size: 18px;
        font-weight: 600;
       }
       .sec-3 h2{
        margin-top: 20px;
       }
       .price-box{gap: 20px;}
       .old-price{text-decoration: line-through;
           color: #B0B0B0; 
          font-size: 16px;}
          .new-price {
                font-weight: bold;
                font-size: 18px;}
                .item-2{
                  margin-top: 30px;
                  background-color:#F4F5F7;
                  padding: 10px;
                }
                .outline-btn{border:2px solid #B88E2F;
                   color:#B88E2F;
                   padding: 10px 30px; 
                   cursor: pointer; 
                   background: transparent;
                   margin: 20px;  }
                  .item-2 img {
                       display: block;
                        max-width: 100%;
                         height: auto;
                        margin: 0 auto; /* توسيط الصورة */}
                        h2{
                          margin: 20px;
                        }
                        .room{
                          width:100%;
                          heigh:auto;}
                          .inspiration-sec{
                            background-color: rgb(223, 214, 201);
                            padding: 60px 0;
                          }
                          .cont{
                            width:1140px;
                            margin:0 auto;
                          }
                          .text-group{
                            padding-left: 40px;
                          }
                           .inspiration-sec h3{
                            font-size: 60px;
                          }
                          .p-text{
                            padding: 30px 0px;
                          }
                          .solid-btn{
                            border:2px solid var(--color2);
                            color: aliceblue;
                            background-color: var(--color2);
                            width: 170px;
                            height: 40px;
                            
                          }
                          footer{
                            padding: 60px 0;
                            margin-top: 50px;
                            
                          }
                           footer .logo{font-size: 22px;
                          font-weight: bold;}
                            .address{
                           color: var(--color5);
                           margin: 20px;
                          }
                          .footer-title{
                           color: var(--color5);
                           margin-bottom: 20px;
                          }
                             .footer-list{
                              list-style: none;
                              padding: 0;
                             }
                             .footer-list li{
                              margin-bottom: 10px;
                              cursor: pointer;
                             }
                             footer button{cursor: pointer;}
                             footer p{
                              margin-top: 15px;
                             }
          .col-1{width:8.333333333%;}
          .col-2{width:16.666666667%;}
          .col-3{width:25%;}
          .col-4{width:33.333333%;}
          .col-5{width:41.6666%;}
          .col-6{width:50%;}
          .col-7{width:58.333%;}
          .col-8{width:66.666%;}
          .col-9{width:75%;}
          .col-10{width:83.3333333333%;}
          .col-11{width:91.6666%;}
          .col-12{width: 100%;}

       @media (max-width:768px) {
        .d-m-none{
          display: none;}
          .col-s-1{width:8.333333333%;}
          .col-s-2{width:16.666666667%;}
          .col-s-3{width:25%;}
          .col-s-4{width:33.333333%;}
          .col-s-5{width:41.6666%;}
          .col-s-6{width:50%;}
          .col-s-7{width:58.333%;}
          .col-s-8{width:66.666%;}
          .col-s-9{width:75%;}
          .col-s-10{width:83.3333333333%;}
          .col-s-11{width:91.6666%;}
        .col-s-12{width: 100%;}
       }
       @media (max-width:992px) {
        .d-m-none{
          display: none;}
          .col-m-1{width:8.333333333%;}
          .col-m-2{width:16.666666667%;}
          .col-m-3{width:25%;}
          .col-m-4{width:33.333333%;}
          .col-m-5{width:41.6666%;}
          .col-m-6{width:50%;}
          .col-m-7{width:58.333%;}
          .col-m-8{width:66.666%;}
          .col-m-9{width:75%;}
          .col-m-10{width:83.3333333333%;}
          .col-m-11{width:91.6666%;}
        .col-m-12{width: 100%;}
       }
       @media (max-width:1200px) {
        .d-m-none{
          display: none;}
          .col-xl-1{width:8.333333333%;}
          .col-xl-2{width:16.666666667%;}
          .col-xl-3{width:25%;}
          .col-xl-4{width:33.333333%;}
          .col-xl-5{width:41.6666%;}
          .col-xl-6{width:50%;}
          .col-xl-7{width:58.333%;}
          .col-xl-8{width:66.666%;}
          .col-xl-9{width:75%;}
          .col-xl-10{width:83.3333333333%;}
          .col-xl-11{width:91.6666%;}
        .col-xl-12{width: 100%;}
       }